@use '../../../variables' as v;

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 1.5rem 2rem;

    background-color: v.$color-black;
}