// colors
$color-white: #fff;
$color-black: #000;
$color-main-pink: #CE0071;
$color-dark-pink: #860049;
$color-light-pink: #E768AD;
$color-medium-pink: #9B2766;
$color-light-gray: #F4F4F3;
$color-medium-gray: #B9B8B8;

// screen sizes
$mobile: 340px;
$mobile-to-tablet: 540px;
$tablet: 740px;
$tablet-to-medium-screen: 880px;
$medium-screen: 1020px;
$large-screen: 1300px;