// colors
$color-white: #fff;
$color-black: #000;
$color-red: #F00;
$color-orange: #ff8615;
$color-green: #00ff15;
$color-light-blue: #0fa1e4;
$color-light-gray: #F4F4F3;
$color-medium-gray: #8d8c8c;

// screen sizes
$mobile: 340px;
$mobile-to-tablet: 540px;
$tablet: 740px;
$tablet-to-medium-screen: 880px;
$medium-screen: 1020px;
$large-screen: 1300px;